/*****************************************************************************************************************
DESTAQUES 
*****************************************************************************************************************/

.destaques {
    padding:45px 0;
}



.envolve-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}

.card {
    width: 31%;
    margin: 0 0 45px;
}

.card .product-image {
height: 300px;
width: 100%;
margin-bottom: 10px;
}

.card .product-image img{
    width: 100%;
    height: 100%;
}

.card h3{
    margin-bottom: 10px;
    color: #282828;
    padding-left: 7px;
    font-size: 24px
}

.card p {
margin-bottom: 10px;
}

.card .bold {
    font-weight: bold;
}

.card .btn {
display: block;
width: 100%;
text-align: center;
text-transform: uppercase;
background-color: #5da423;
color: #fff;
padding: 15px;
border-radius: 5px;
transition: .3;
}

.card .btn:hover {
    background-color: #4a831c;
}
